body {
  font: 10px arial, sans-serif;
}
.btn-group{
	float:right;
}
#chart{
	width:700px;
	margin-top: 20px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.zeroAxis{
	stroke:black;
	shape-rendering: crispEdges;
}
.labels text{
	font-size: 16px;
	font-weight: bold;
	fill:white;
}

.reveal-if-hardware {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
}

input[type='radio']:checked ~ .reveal-if-hardware,
input[type='checkbox']:checked ~ .reveal-if-hardware {
    opacity: 1;
    max-height: 100px; /* little bit of a magic number :( */
    overflow: visible;
}

.reveal-if-software {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
}

input[type='radio']:checked ~ .reveal-if-software,
input[type='checkbox']:checked ~ .reveal-if-software {
    opacity: 1;
    max-height: 100px; /* little bit of a magic number :( */
    overflow: visible;
}

.reveal-if-bigdata {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
}

input[type='radio']:checked ~ .reveal-if-bigdata,
input[type='checkbox']:checked ~ .reveal-if-bigdata {
    opacity: 1;
    max-height: 100px; /* little bit of a magic number :( */
    overflow: visible;
}
